@font-face {
    font-family: 'london';
    src: url('../polices/london.ttf');
}

#login-button {
    
    border-radius: 10px;
    background-color: #333;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'london';
}

#login-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#login-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#login-button:hover span {
    padding-right: 25px;
}

#login-button:hover span:after {
    opacity: 1;
    right: 0;
}

.btn {
  border-radius: 10px;
    background-color: #333;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'london';
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}